/* LEFT SIDEBAR */
.spotify {
    padding: 0;
}

/* DASHBOARD */
.reading {
    grid-column: span 4;
    font-size: 18px;
}

.reading-row {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 5px;
    margin: 10px 0;
}

.reading-row label {
    margin-left: 2%;
    text-align: left;
    white-space: nowrap;
    font-weight: 700;
    color: var(--second-text);
}

.reading-row input {
    width: 100%;
    background: none;
    border: none;
    text-align: right;
    color: var(--input-text);
}

.calendar {
    border-radius: var(--radius-large);
    padding: 0;
    overflow: hidden;
    grid-column: span 8;
}

.calendar iframe {
    height: 100%;
    width: 100%;
    border: none;
}

.todos {
    grid-column: span 4;
    grid-row: span 2;
}

.todo-row {
    display: flex;
    color: var(--second-text);
    justify-content: space-between;
    align-items: center;
    margin: 2% 10%;
    font-size: 20px;
}

.bingo {
    height: 100%;
    padding: 0px;
    overflow: hidden;
    grid-column: span 8;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
}

.bingo-table {
width: 100%;
height: 100%;
flex-grow:1;
border-collapse:collapse;
table-layout:fixed;
}

.bingo-table td {
    position: relative;
    overflow: hidden;
    border: 1px solid var(--border);
    color: rgb(255, 191, 0);
    text-align: center;
    padding: 10px 10px;
}

.bingo-title {
    font-size: 32px;
    color: var(--input-text);
}

.bingo-table td.completed { 
    background: rgba(0, 255, 0, 0.226);
}

.meals-widget {
    grid-column: span 6;
}

.workout-widget {
    grid-column: span 6;
}

.uni-widget {
    grid-column: span 12;
}

.notes {
grid-column: span 12;
display: flex;
flex-direction: column;
}

#notes{
    font-family: Arial;
    resize: none;
    overflow: hidden;
    background: none;
    border: none;
}

/* RIGHT SIDEBAR */
.stats-row {
display: flex;
justify-content: space-between;
gap: 10px;
margin: 10px 0;
}

.stats-row label {
    width: 140px;
    margin-left: 10px;
    text-align: left;
    white-space: nowrap;
    color: var(--second-text);
}

.stats-row input {
width: 40px;
background: none;
border: none;
color: rgb(255, 0, 0);
text-align: center;
}

.amount-progress {
    width: 80%;
    height: 22px;
    background-color: var(--panel);
}

.goal-row {
display: flex;
justify-content: space-between;
align-items: center;
margin: 10px 0;
}

.goal-row label {
    text-align: left;
    color: var(--second-text);
}

.goal-row input {
    width: 50px;
    background: none;
    border: none;
    color: var(--input-text);
}
