.grade-summary {
    grid-column: span 12;
}

.grade-summary table {
    width: 100%;
    border: 1px solid var(--border);
    border-collapse: collapse;
}

.grade-summary table th {
    border: 1px solid var(--border);
    text-align: center;
    color: var(--text);
}

.grade-summary table td {
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    text-align: center;
    color: var(--second-text);
}

.course-progress {
    width: 100%;
    height: 22px;
    background: var(--panel);
    margin-top: 2px;
    border: 1px solid var(--border);
}

.uni-timetable {
    width: 100%;
    grid-column: span 12;
    border: 1px solid var(--border);
    border-collapse: collapse;
    table-layout: fixed;

}

.uni-timetable th {
    border: 1px solid var(--border);
    color: var(--text);
}

.uni-timtable td {
    border: 1px solid var(--border);
    color: var(--second-text);
}

.modules {
    display: grid;
    grid-column: span 12;
}

#module-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.module-description {
    width: calc(50% - 10px);
    margin: 2.5px;
    
}

.module-description h3{
    margin: 0;
}

.module-description h4{
    margin: 0;
}

.module-description textarea {
    width: 100%;
    background: none;
    resize: vertical;
    border: none;
}

.urgent { color: red; }
.close { color: orange; }
.safe { color: limegreen; }

.module-assignment-table {
    width: 100%;
    border-collapse: collapse;
}

.module-assignment-table td {
    border-bottom: 1px solid;
}
.module-assignment-table input{
    font-size: 14px;
    text-align: center;
    background: none;
    border: none;
}

.year4 h2 {
    padding: 5px;
}

#year4-sliders h3 {
    margin: 0px;
}

#year4-sliders {
    display: grid;
    gap: 5px;
}

.slider-group {
    display: flex;
    flex-direction: column;
}

.slider-row {
    width: 100%;
}

.slider-row label{
    text-align: left;
    font-size: 12px;
    margin: none;
}

.slider-row input[type="range"] {
    width: 100%;
}

.targets-table {
    width: 100%;
    font-size: 16px;
    color: var(--second-text);
}

.targets-table td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.deadlineWeek {
    margin: 5px;
}